store-front/src/assets/image/wood.png
store-front/src/assets/image/shelf.png
store-front/src/assets/image/logo.png
store-front/src/assets/image/hours.png
admin-portal/src/app/components/login/login.component.html
admin-portal/src/app/components/edit-book/edit-book.component.html
admin-portal/src/app/components/book-list/dialog-result-example-dialog.html
admin-portal/src/app/components/book-list/book-list.component.html
admin-portal/src/app/components/add-new-book/add-new-book.component.html
store-front/src/assets/image/favicon.ico
store-front/src/assets/image/faq.png
store-front/src/assets/image/creditcard.png
store-front/src/assets/image/book1.png
store-front/src/assets/image/bestseller.png
store-front/src/app/components/shopping-cart/shopping-cart.component.html
store-front/src/app/components/order/order.component.html
store-front/src/app/components/order-summary/order-summary.component.html
store-front/src/app/components/nav-bar/nav-bar.component.html
store-front/src/app/components/my-profile/my-profile.component.html
store-front/src/app/components/my-account/my-account.component.html
store-front/src/app/components/home/home.component.html
store-front/src/app/components/book-list/book-list.component.html
store-front/src/app/components/book-detail/book-detail.component.html
admin-portal/src/app/components/view-book/view-book.component.html
admin-portal/src/app/components/nav-bar/nav-bar.component.html
